body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: red;
  text-align: center;
}

h1 {
  text-align: center;
}

.form-header {
  text-align: center;
}

.form-container form {
  text-align: center;
  margin: 0 auto;
}

.form-button {
  margin-top: 20px;
  background-color: green;
  color: white;
  border-radius: 15px;
}
